
body {
  color: black;
  background-color: white; 
  text-decoration: none;
  margin:0;
  border: 0;
  color: #555;
}

a {
  color: #555;
  text-decoration: none;
}

    .bio div span {
    text-transform: uppercase;
    font-family: 'Unica One', Helvetica, Arial, sans-serif;
    padding: 1.5% 5%;
    font-size: 0.9em;
    background: black;
    margin: 0;
    display: block;
    width: auto;
    float: left;
    color: #fff;
    text-align: left;
    display: block;
    clear: left;
    opacity: 0.6;
    border-radius: 10px 0 10px 0;
    }

    .colab {
        background-color:#000;
    }
    .colab span {
            text-transform: uppercase;
    font-family: 'Unica One', Helvetica, Arial, sans-serif;
    padding: 1.5%;
    font-size: 0.9em;
    background: black;
    margin: 0;
    display: block;
    width: auto;
    color: white;
    text-align: left;
    display: block;
    clear: left;
    opacity: 0.5;
    background-image: url(../images/side-roads.jpg);
    background-size: cover;  
        padding: 50px 10px 333px 20px;
    text-shadow: 1px 2px 4px #444;


      
  }

    .colab span a {
     text-decoration: none;
     color: black;
    background: white;
    }
        .colab span a:hover {
     color: darkgoldenrod;
    }

    .standout {
        font-size: 22px;
    line-height: 16px;
    color: #555;
    }

    .text-link {
        display:block; 
        float:left; 
        padding:10px;
    }

.about {
    background-color:#222
}

.bio div {
    width:29.33%; 
    float:left; 
    height: 200px;
    background-size: 
    cover;opacity: 0.6;    
    border-radius: 5%;
    background: #55;
    margin: 0 2% 100px;
}
.lindsey {
    background-image:url(../images/lindsey-appolis.jpg);
}

.sipho {
    background-image:url(../images/sipho-mpongo.jpg);
    background-position: 60%;
}

.verdis {
    background-image:url(../images/hugh-mosno.jpg);
}



